ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .w-64 {
    width: 64px;
  }
  
  .width-100 {
    width: 100%;
    .ui-select__content {
      width: 100%;
    }
  }
  
  .width-0 {
    width: 0;
    .ui-select__content {
      width: 0;
    }
  }
  
  .relative-position {
    position: relative;
  }
  
  .placeholder {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .placeholder-text {
    color: hsla(215,6%,59%,.65);
    text-align: center;
  }
  
  .error {
    color: #f95d5d;
    line-height: 1.2;
    font-size: 12px;
    padding-top: 4px;
  }
  
  .no-margin {
    margin: 0;
  }
  
  .m-r-m {
    margin-right: 14px;
  }
  
  .m-r-s {
    margin-right: 8px;
  }
  .m-b-6 {
    margin-bottom: 6px;
  }
  .m-t-15 {
    margin-top: 15px;
  }
  
  .grey {
    color: #a7aaaf;
    fill: #a7aaaf;
    .ui-icon {
      color: #a7aaaf;
    }
  }
  
  .justify-label {
    .ui-select__label-text {
      display: flex;
      justify-content: space-between;
    }
  }
  
  .low-text {
    font-size: 12px;
  }
  
  .display-flex {
    display: flex;
  }
  
  .display-none {
    display: none;
  }
  
  .flex-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 2;
  }
  
  .align-items-end {
    align-items: flex-end;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .ui-icon-button.medium {
    .ui-icon {
      font-size: 18px;
    }
  }
  
  .link-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #64b2da;
    font-size: 14px;
    margin-top: 15px;
    &:hover {
      color: #4b99c1;
    }
    .ui-icon {
      font-size: 16px;
    }
    &.no-margin {
      margin: 0;
    }
  }
  
  .popover-trigger {
    width: 18px;
    display: flex;
    align-items: center;
    &.code-mode {
      margin-top: 38px;
    }
  }
  
  .table-fields {
    margin-bottom: 14px;
  }
  .table-row {
    display: flex;
    justify-content: stretch;
    
    &--head {
      font-weight: bold;
      .table-row__name {
        color: inherit;
      }
    }
    
    &__name {
      color: #B1B1B1;
    }
    
    &__label, &__name {
      width: 40%;
    }
    &__type {
      width: 20%;
    }
  }
  
  .inline-input {
    margin-bottom: 0;
    .ui-textbox__input {
        border: none;
        background-color: transparent;
        font-size: 14px;
        font-weight: bold;
        color: #0F232E;
        padding: 10px 18px 10px 0;
        margin-bottom: 9px;
        
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        &:focus, &:hover {
          background-color: transparent;
        }
    }
  }
  
  %inline-select {
    .ui-select__display {
      border: none;
      background-color: transparent;
    }
  }
  
  .svg-icon-holder {
    display: none;
  }
  
  .svg-icon-position {
      margin-top: 4px;
      use {
          fill: #a1a6aa;
      }
      &:hover {
          use {
              /* fill: #64b2da; */
          }
      }
  }
  
  .hide-controls {
    position: relative;
    .header {
      height: 0;
      min-height: 0;
      .js-mode-btn {
        display: none;
      }
      .add-variable {
        position: absolute;
        right: 0;
        // top: 36px;
        z-index: 1;
      }
      .full-screen {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }
  }
  
  %or-filter-wrapper {
    background-color: #F6F6F6;
    padding: 6px 16px 16px 16px;
    border-radius: 3px;
    border-left: 3px solid #7ED321;
    &.invalid {
      border-left: 3px solid #F95D5D;
    }
  }
  
  %or-filter-item {
    position: relative;
    padding: 10px;
    border-radius: 3px;
    background-color: #FFF;
    align-items: stretch;
  }
  
  .ruleset-list {
    .separator {
      height: 61px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      & > div {
        width: 27px;
        height: 27px;
        transform: rotate(45deg);
        display: flex;
        background-color: #7ED321;
        justify-content: space-around;
        align-items: center;
        & > span {
          font-size: 12px;
          line-height: 14px;
          transform: rotate(-45deg);
          text-transform: uppercase;
          color: #FFF;
        }
      }
    }
    .ruleset-item {
      @extend %or-filter-wrapper;
      .ruleset {
        .rule {
          @extend %or-filter-item;
          padding: 7px;
          .popover-trigger {
            width: 10px;
            .ui-icon {
              position: relative;
              left: -3px;
            }
          }
          .field {
            width: 0;
            .ui-select__display {
              height: 38px;
              border-radius: 3px 0 0 3px;
              padding-right: 5px;
              .ui-icon.ui-select__dropdown-button {
                width: 0.5em;
                svg {
                  position: relative;
                  left: -0.25em;
                }
              }
            }
            .ui-select__content {
              width: 0;
            }
            &.is-disabled {
              .ui-icon.ui-select__dropdown-button {
                display: none;
              }
            }
          }
          .operation {
            &.error {
              .ui-select__display-value {
                color: #f95d5d;
              }
            }
            min-width: 80px;
            flex: 0.5;
            .ui-select__dropdown {
              min-width: auto;
              .ui-select-option__basic {
                font-size: 12px;
              }
            }
            @extend %inline-select;
            .ui-select__content {
              width: 100%;
              .ui-select__display {
                padding-left: 7px;
                padding-right: 7px;
                .ui-select__display-value {
                  text-align: center;
                  font-size: 12px;
                  
                }
                .ui-icon.ui-select__dropdown-button {
                  width: 0.5em;
                  svg {
                    position: relative;
                    left: -0.25em;
                  }
                }
              }
            }
            &.is-disabled {
              .ui-icon.ui-select__dropdown-button {
                display: none;
              }
            }
          }
          .expression {
            .or-editable-wrapper {
              border-radius: 0 3px 3px 0;
            }
            width: 0;
            .editable {
              text-overflow: ellipsis;
              padding-right: 30px;
            }
            &.readonly {
              .editable {
                padding-right: 10px;
              }
            }
          }
          & + .rule {
            margin-top: 9px;
          }
        }
      }
    }
  }
  
  .object-constructor {
    @extend %or-filter-wrapper;
    .field-list {
      .field-data {
        .field {
          width: 0;
          .ui-select__display {
            height: 38px;
          }
          .ui-select__feedback {
            display: none;
            .ui-select__feedback-text {
              visibility: visible;
            }
          }
          .ui-select__content {
            width: 0;
          }
          &.invalid {
            .ui-select__feedback {
              display: block;
            }
          }
          .ui-textbox__input {
            height: 38px;
          }
          .ui-textbox__feedback {
            display: none;
            .ui-textbox__feedback-text {
              visibility: visible;
            }
          }
          &.invalid {
            .ui-textbox__feedback {
              display: block;
            }
          }
        }
        .expression {
          width: 0;
          .editable {
            text-overflow: ellipsis;
            padding-right: 30px;
          }
        }
        @extend %or-filter-item;
        & + .field-data {
          margin-top: 9px;
        }
      }
    }
  }
  
  .or-select-expression {
    .editable {
      min-height: 30px;
    }
    .placeholder {
      font-size: 14px !important;
    }
  }
  
  .ui-select__display-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    & > div {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: inherit;
    }
  }
  
  .ui-select-option__basic {
    white-space: normal;
  }
  
  .back-to-default-btn {
    position: absolute;
    right: 45px;
    top: 7px;
    margin-top: 0;
    visibility: hidden;
  }
  
  .output-wrapper {
    &:hover {
      .back-to-default-btn {
        visibility: visible;
      }
    }
  }
  
  .sort-select.ui-select .ui-select__content .ui-select__label .ui-select__display {
    height: 38px;
  }
  .sort-icon {
    margin-top: 36px;
  }
  
  .ui-tabs .ui-tabs__header ul.ui-tabs__header-items {
    padding: 0;
    .ui-tab-header-item {
      text-transform: none;
      width: 50%;
    }
  }
  